services:
  mongodb:
    container_name: readme.file-storage.db
    restart: "no"
    ports:
      - 27018:27017
    volumes:
      - ./db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: test
      MONGO_INITDB_DATABASE: readme-file-storage
